@theme {
    /* ===================================================================== */
    /* RAW COLORS                                                            */
    /* ===================================================================== */
    --color-black: #000000;
    --color-white: #FFFFFF;

    --color-zinc-350: #BBBBBF;
    --color-zinc-500: #71717A;
    --color-zinc-600: #52525B;
    --color-zinc-700: #3F3F46;
    --color-zinc-720: #39393F;
    --color-zinc-750: #303036;
    --color-zinc-840: #222225;
    --color-zinc-880: #1D1D20;

    --color-blue-200: #99C7FB;
    --color-blue-400: #60A5FA;
    --color-blue-600: #005BC4;
    --color-blue-800: #1E40AF;

    --color-green-100: #D1F4E0;
    --color-green-300: #74DFA2;
    --color-green-400: #4ADE80;
    --color-green-800: #095028;
    --color-green-900: #052814;

    --color-red-200: #FECACA;
    --color-red-300: #FCA5A5;
    --color-red-800: #991B1B;

    --color-amber-400: #FBBF24;
    --color-amber-900: #78350F;

    --color-cyan-550: #33EEFF;

    --color-purple-400: #9353D3;
    --color-purple-500: #7828C8;

    --color-violet-400: #695DE1;
    --color-violet-500: #584EB5;

    /* ===================================================================== */
    /* BREAKPOINTS                                                           */
    /* ===================================================================== */
    --breakpoint-xxs: 400px;
    --breakpoint-xs: 480px;
    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;
    --breakpoint-2xl: 1440px;
    --breakpoint-3xl: 1920px;

    /* ===================================================================== */
    /* Z-INDEX                                                               */
    /* ===================================================================== */
    --z-index-footer: 999;
    --z-index-menu-overlay: 1000;
    --z-index-menu: 1000;
    --z-index-modal-overlay: 1000;
    --z-index-modal: 1000;

    /* ===================================================================== */
    /* TYPOGRAPHY                                                            */
    /* ===================================================================== */
    --font-size-xs: 12px;
    --font-size-xs--line-height: 16px;
    --font-size-sm: 14px;
    --font-size-sm--line-height: 18px;
    --font-size-base: 16px;
    --font-size-base--line-height: 20px;

    /* ===================================================================== */
    /* TRANSITIONS                                                           */
    /* ===================================================================== */
    --transition-duration-xs: 250ms;

    /* ===================================================================== */
    /* BACKGROUNDS                                                           */
    /* ===================================================================== */
    --background-color-primary: var(--color-zinc-880);
    --background-color-secondary: var(--color-zinc-840);
    --background-color-tertiary: var(--color-zinc-750);
    --background-color-quaternary: var(--color-zinc-700);
    --background-color-overlay: #00000080;
    --background-color-success: var(--color-green-800);
    --background-color-error: var(--color-red-800);
    --background-color-button-secondary: var(--color-blue-600);
    --background-color-select: var(--background-color-quaternary);
    --background-color-announcement: #1E3A5F;
    --background-color-toast-success: #14532D;
    --background-color-toast-error: #7F1D1D;
    --background-color-toast-warning: #78350F;
    --background-color-toast-info: #1E3A5F;

    /* ===================================================================== */
    /* TEXT                                                                  */
    /* ===================================================================== */
    --text-color-primary: var(--color-white);
    --text-color-secondary: var(--color-zinc-350);
    --text-color-success: var(--color-green-100);
    --text-color-error: var(--color-red-200);
    --text-color-button: var(--text-color-primary);
    --text-color-link: var(--color-blue-200);
    --text-color-highlight: var(--color-cyan-550);
    --text-color-announcement: var(--color-blue-200);
    --text-color-toast-success: var(--color-green-400);
    --text-color-toast-error: var(--color-red-300);
    --text-color-toast-warning: var(--color-amber-400);
    --text-color-toast-info: var(--color-blue-400);

    /* ===================================================================== */
    /* BORDERS                                                               */
    /* ===================================================================== */
    --border-color-primary: var(--color-zinc-600);
    --border-color-secondary: var(--color-zinc-500);
    --border-color-tertiary: var(--color-zinc-720);

    /* ===================================================================== */
    /* GRADIENTS                                                             */
    /* ===================================================================== */
    --background-image-gradient-footer: linear-gradient(0deg, var(--color-zinc-880) 0%, var(--color-zinc-750) 100%);
    --background-image-gradient-button: linear-gradient(90deg, var(--color-purple-500) 0%, var(--color-violet-500) 100%);
    --background-image-gradient-button-hover: linear-gradient(90deg, var(--color-purple-400) 0%, var(--color-violet-400) 100%);
    --border-image-gradient-main: linear-gradient(to bottom, var(--color-zinc-700), transparent);

    /* ===================================================================== */
    /* SCROLLBAR                                                             */
    /* ===================================================================== */
    --scrollbar-thumb-color: var(--color-zinc-600);
    --scrollbar-track-color: var(--color-zinc-700);
}