/* Ripple Animation **********************************************************/
/*****************************************************************************/
@keyframes keyframe-ripple {
    to {
        transform: translate(-50%, -50%) scale(3);
        opacity: 0;
    }
}

@layer components {
    .ripple {
        position: absolute;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.3);
        pointer-events: none;
        transform: translate(-50%, -50%) scale(0);
        animation: keyframe-ripple 600ms ease-out;
    }
}