@import 'tailwindcss';
@import './styles/plugins.css';
@import './styles/config.css';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@font-face {
    font-family: 'Readex Pro';
    src: url('/fonts/readex-pro-latin-extended.woff2') format('woff2'),
    url('/fonts/readex-pro-latin-extended.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    height: 100%;
    line-height: 1.625rem;
    scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
    width: 100%;
}

body{
    background-color: var(--background-color-primary);
    color: var(--text-color-primary);
    font-family: 'Readex Pro', sans-serif;
    font-size: var(--font-size-base);
    height: 100%;
    width: 100%;
}

/* Scrollbar Chrome, Safari, Edge */
::-webkit-scrollbar {
    background-color: var(--scrollbar-track-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
}

/* Header ********************************************************************/
/* The "ntw" stands for Not Tailwind *****************************************/
.ntw-header,
.ntw-header-onecol {
    background: var(--background-image-gradient-header);
    height: 60px;
    left: 0;
    top: 0;
    padding: 0 20px 0 20px;
    position: fixed;
    right: 0;
    z-index: var(--z-index-header);
}

.ntw-header::after,
.ntw-header-onecol::after {
    background-color: var(--border-color-primary); /* Using border var because this is essentially border */
    bottom: 0;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    right: 0;
}

@media (min-width: 640px) {
    .ntw-header,
    .ntw-header-onecol {
        height: 80px;
    }
}

@media (min-width: 960px) {
    .ntw-header {
        padding: 0 40px 0 320px;
    }

    .ntw-header::after {
        left: 320px;
    }
}

@media (min-width: 1600px) {
    .ntw-header,
    .ntw-header-onecol {
        padding-left: 360px;
        padding-right: 360px;
    }

    .ntw-header::after {
        left: 360px;
        right: 360px;
    }
}

/* Main **********************************************************************/
/* The "ntw" stands for Not Tailwind *****************************************/
.ntw-main {
    display: flex;
    margin: 0 auto 0 auto;
    min-height: calc(100vh - 60px);
    padding: 0 0 60px 0;
    position: relative;
    top: 60px;
    width: 100%;
}

.ntw-main-onecol {
    display: flex;
    flex-direction: column;
    margin: 0 auto 0 auto;
    min-height: calc(100vh - 60px);
    position: relative;
    top: 60px;
    width: 100%;
}

@media (min-width: 640px) {
    .ntw-main {
        min-height: calc(100vh - 80px);
        padding-bottom: 80px;
        top: 80px;
    }

    .ntw-main-onecol {
        min-height: calc(100vh - 80px);
        top: 80px;
    }
}

@media (min-width: 960px) {
    .ntw-main {
        border-image-source: var(--border-image-gradient-main);
        border-image-slice: 1;
        border-style: solid;
        border-width: 0 0 0 1px;
        margin-left: 320px;
        padding-left: 40px;
        padding-right: 40px;
        width: calc(100% - 320px);
    }
}

@media (min-width: 1600px) {
    .ntw-main {
        border-width: 0 1px 0 1px;
        margin-left: 360px;
        margin-right: 360px;
        width: calc(100% - 720px);
    }
}

/* Footer ********************************************************************/
/* The "ntw" stands for Not Tailwind *****************************************/
.ntw-footer {
    background: var(--background-image-gradient-footer);
    border-top: 1px solid var(--border-color-primary);
    bottom: 0;
    height: 60px;
    padding: 0 20px 0 20px;
    position: fixed;
    right: 0;
    width: 100%;
    z-index: 30;
}

@media (min-width: 640px) {
    .ntw-footer {
        height: 80px;
    }
}

@media (min-width: 960px) {
    .ntw-footer {
        left: 0;
        padding: 0 40px 0 320px;
    }
}

@media (min-width: 1600px) {
    .ntw-footer {
        padding-left: 400px;
        padding-right: 400px;
    }
}