@import 'tailwindcss';
@import './styles/plugins.css';
@import './styles/config.css';

@font-face {
    font-family: 'Readex Pro';
    src: url('/fonts/readex-pro-latin-extended.woff2') format('woff2'),
    url('/fonts/readex-pro-latin-extended.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    height: 100%;
    line-height: 1.625rem;
    scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
    width: 100%;
}

body{
    background-color: var(--background-color-primary);
    color: var(--text-color-primary);
    font-family: 'Readex Pro', sans-serif;
    font-size: var(--font-size-base);
    height: 100%;
    width: 100%;
}

::-webkit-scrollbar {
    background-color: var(--scrollbar-track-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
}

.ntw-header{
    background: var(--background-image-gradient-header);
    height: var(--header-based-h);
    left: 0;
    top: 0;
    position: fixed;
    right: 0;
    z-index: var(--z-index-header);
}

.ntw-main {
    background-image: url("/media/wallpaper.png");
    background-repeat: repeat-y;
    background-size: contain;
    display: flex;
    flex-direction: column;
    margin: 0 auto 0 auto;
    max-width: 1440px;
    min-height: calc(100vh - var(--header-based-h));
    position: relative;
    top: var(--header-based-h);
    width: 100%;
}

@media (min-width: 960px) {
    .ntw-main {
        border: 1px solid var(--border-color-tertiary);
        border-bottom: none;
    }
}
