@import 'tailwindcss';
@import './styles/plugins.css';
@import './styles/config.css';

@font-face {
    font-family: 'Readex Pro';
    src: url('/fonts/readex-pro-latin-extended.woff2') format('woff2'),
    url('/fonts/readex-pro-latin-extended.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    height: 100%;
    line-height: 1.625rem;
    scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
    width: 100%;
}

body{
    background-color: var(--background-color-primary);
    color: var(--text-color-primary);
    font-family: 'Readex Pro', sans-serif;
    font-size: var(--font-size-base);
    height: 100%;
    width: 100%;
}

::-webkit-scrollbar {
    background-color: var(--scrollbar-track-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
}

.ntw-footer{
    background: var(--background-color-primary);
    bottom: 0;
    height: 80px;
    left: 0;
    position: fixed;
    right: 0;
    z-index: var(--z-index-footer);
}

.ntw-main {
    border-bottom: 1px solid var(--border-color-tertiary);
    border-radius: 0 0 50px 50px;
    bottom: 80px;
    display: flex;
    flex-direction: column;
    margin: 0 auto 0 auto;
    max-width: 1440px;
    min-height: calc(100vh - 80px);
    overflow: hidden;
    position: relative;
    top: 0;
    width: 100%;
}

@media (min-width: 960px) {
    .ntw-main {
        border-left: 1px solid var(--border-color-tertiary);
        border-right: 1px solid var(--border-color-tertiary);
        border-top: none;
    }
}

.ntw-admin-main {
    background-color: var(--background-color-tertiary);
    border-bottom: 1px solid var(--border-color-tertiary);
    border-radius: 0 0 50px 50px;
    bottom: 80px;
    display: flex;
    margin: 0 auto 0 auto;
    max-width: 1440px;
    min-height: calc(100vh - 80px);
    overflow: hidden;
    position: relative;
    top: 0;
    width: 100%;
}

@media (min-width: 960px) {
    .ntw-admin-main {
        border-left: 1px solid var(--border-color-tertiary);
        border-right: 1px solid var(--border-color-tertiary);
        border-top: none;
    }
}