name: Test, Build, Push, and Deploy to Production

on:
  push:
    branches:
      - "master"

env:
  IMAGE_NAME: ghcr.io/${{ github.repository }}

jobs:
  test:
    runs-on: ubuntu-latest
    environment: test
    env:
      APP_ENV: ${{ vars.APP_ENV }}
      PORT: ${{ vars.PORT }}
      DATABASE_NAME: ${{ vars.DATABASE_NAME }}
      DATABASE_USER: ${{ vars.DATABASE_USER }}
      DATABASE_PORT: ${{ vars.DATABASE_PORT }}
      DATABASE_HOST: ${{ vars.DATABASE_HOST }}
      DATABASE_SSL: ${{ vars.DATABASE_SSL }}
      DATABASE_PASSWORD: ${{ secrets.DATABASE_PASSWORD }}
      JWT_SECRET: ${{ secrets.JWT_SECRET }}
      RESEND_API_KEY: ${{ secrets.RESEND_API_KEY }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5.0.0

      - name: Start services
        run: docker compose -f compose.test.yml up -d --wait

      - name: Display Docker logs on failure
        if: failure()
        run: docker compose -f compose.test.yml logs app

      - name: Run tests
        run: docker compose -f compose.test.yml exec -T app pnpm test

  build-push-deploy:
    runs-on: ubuntu-latest
    needs: test
    environment: production
    permissions:
      contents: read
      packages: write
    env:
      APP_ENV: ${{ vars.APP_ENV }}
      PORT: ${{ vars.PORT }}
      DATABASE_HOST: ${{ vars.DATABASE_HOST }}
      DATABASE_PORT: ${{ vars.DATABASE_PORT }}
      DATABASE_NAME: ${{ vars.DATABASE_NAME }}
      DATABASE_USER: ${{ vars.DATABASE_USER }}
      DATABASE_SSL: ${{ vars.DATABASE_SSL }}
      JWT_SECRET: ${{ secrets.JWT_SECRET }}
      RESEND_API_KEY: ${{ secrets.RESEND_API_KEY }}
      DATABASE_PASSWORD: ${{ secrets.DATABASE_PASSWORD }}
      IMAGE_TAG: ${{ github.sha }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5.0.0

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3.5.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        id: build-and-push-app
        uses: docker/build-push-action@v6.18.0
        with:
          context: .
          file: ./docker/production/Dockerfile
          push: true
          tags: |
            ${{ env.IMAGE_NAME }}:${{ github.sha }}
            ${{ env.IMAGE_NAME }}:latest
          build-args: |
            APP_ENV=${{ env.APP_ENV }}
            PORT=${{ env.PORT }}

      - name: Set up SSH Key
        run: |
          mkdir -p ~/.ssh/
          echo "${{ secrets.DEPLOY_KEY }}" > ~/.ssh/id_deploy
          chmod 600 ~/.ssh/id_deploy
          ssh-keyscan -H "${{ vars.DEPLOY_HOST }}" >> ~/.ssh/known_hosts

      - name: Create Docker Context
        run: |
          docker context create swarm-manager --docker "host=ssh://${{ vars.DEPLOY_USER }}@${{ vars.DEPLOY_HOST }}"
          docker context use swarm-manager

      - name: Deploy to Swarm
        run: |
          docker compose --with-registry-auth -f compose.production.yml up -d