name: Test, Build, Push, and Deploy to Production

on:
  push:
    branches:
      - "master"

env:
  IMAGE_NAME: ghcr.io/${{ github.repository }}

jobs:
  test:
    runs-on: ubuntu-latest
    environment: test
    env:
      APP_ENV: ${{ vars.APP_ENV }}
      PORT: ${{ vars.PORT }}
      DATABASE_NAME: ${{ vars.DATABASE_NAME }}
      DATABASE_USER: ${{ vars.DATABASE_USER }}
      DATABASE_PORT: ${{ vars.DATABASE_PORT }}
      DATABASE_HOST: ${{ vars.DATABASE_HOST }}
      DATABASE_SSL: ${{ vars.DATABASE_SSL }}
      DATABASE_PASSWORD: ${{ secrets.DATABASE_PASSWORD }}
      JWT_SECRET: ${{ secrets.JWT_SECRET }}
      RESEND_API_KEY: ${{ secrets.RESEND_API_KEY }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5.0.0

      - name: Start services
        run: docker compose -f compose.test.yml up -d --wait

      - name: Display Docker logs on failure
        if: failure()
        run: docker compose -f compose.test.yml logs app

      - name: Run tests
        run: docker compose -f compose.test.yml exec -T app pnpm test

  build-push-deploy:
    runs-on: self-hosted
    needs: test
    environment: production
    permissions:
      contents: read
      packages: write
    env:
      APP_ENV: ${{ vars.APP_ENV }}
      PORT: ${{ vars.PORT }}
      DATABASE_HOST: ${{ vars.DATABASE_HOST }}
      DATABASE_PORT: ${{ vars.DATABASE_PORT }}
      DATABASE_NAME: ${{ vars.DATABASE_NAME }}
      DATABASE_USER: ${{ vars.DATABASE_USER }}
      DATABASE_SSL: ${{ vars.DATABASE_SSL }}
      JWT_SECRET: ${{ secrets.JWT_SECRET }}
      RESEND_API_KEY: ${{ secrets.RESEND_API_KEY }}
      DATABASE_PASSWORD: ${{ secrets.DATABASE_PASSWORD }}
      IMAGE_TAG: ${{ github.sha }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5.0.0

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3.5.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6.18.0
        with:
          context: .
          file: ./docker/production/Dockerfile
          push: true
          tags: |
            ${{ env.IMAGE_NAME }}:${{ github.sha }}
            ${{ env.IMAGE_NAME }}:latest
          build-args: |
            APP_ENV=${{ env.APP_ENV }}
            PORT=${{ env.PORT }}

      - name: Setup SSH Agent
        uses: webfactory/ssh-agent@v0.9.1
        with:
          ssh-private-key: ${{ secrets.DEPLOY_KEY }}

      - name: Add Manager to Known Hosts
        run: |
          mkdir -p ~/.ssh
          ssh-keyscan -H ${{ vars.DEPLOY_HOST }} >> ~/.ssh/known_hosts

      - name: Create Remote Docker Context
        run: |
          docker context create remote --docker "host=ssh://${{ vars.DEPLOY_USER }}@${{ vars.DEPLOY_HOST }}"

      - name: Deploy to Swarm
        run: |
          docker --context remote stack deploy --with-registry-auth -c compose.production.yml relentless

      - name: Prune Remote System
        run: |
          docker --context remote system prune -af --volumes || true